@mixin test($width:350px){
    width: $width;
    height: 45px;
    margin-bottom: 30px;
    border-radius: 15px;
    text-align: center;
}
*{
    margin: 0;
    padding: 0;
    font-size: 25px;
}
#avtor{
    width: 400px;
    height: 250px;
    border:1px solid black;
    border-radius: 20px;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    #login{
        @include test;
        margin-top: 25px;
    }
    #password{
        @include test;
    }
    #button{
        width: 250px;
        height: 35px;
        border-radius: 10px;
        margin-top: 10px;
    }
}
.mainWrapper{
    border:1px solid black;
    width: 800px;
    margin:0 auto;
    padding:50px;
    .cardWrapper{
        border:1px solid black;
        margin:0 auto;
        padding:20px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
.exit{
    text-decoration: none;
    color: rgb(66, 67, 77);
    border:2px solid rgb(93, 93, 236);
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .7s;
    &:hover{
        background-color: rgb(185, 185, 236);
    }
}
.link{
    text-decoration: none;
    color: rgb(66, 67, 77);
    border:2px solid rgb(93, 93, 236);
    width: 300px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .7s;
    &:hover{
        background-color: rgb(185, 185, 236);
    }
}
#createUser{
    width: 410px;
    height: 700px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin:0 auto;
}
.formFilter{
    width: 250px;
    margin:0 auto;
    padding:15px;
    fieldset{
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    select{
        width: 200px;
    }
    input{
        width: 200px;
        margin-top: 20px;
    }
}
.userRequests{
    margin: 40px auto;
}